body {
  display: grid;
  margin: 0px;
  padding: 0px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.menu {
  margin: 0px;
  padding: 0.75rem;
  list-style: none;
  display: flex;
  font-size: 1.5rem;
  background: darkcyan;
}
.botao-menu a {
  display: grid;
  text-decoration: none;
  color: #fff;
  justify-items: end;
}
