body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  background: #f7f7f7;
  display: grid;
  gap: 3.75rem;
  justify-items: right;
}

a {
  text-decoration: none;
  color: #f7f7f7;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

header {
  display: grid;
  justify-items: left;
  gap: 60px;
  background-color: darkcyan;
  width: 100%;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 1rem 2rem;
  text-transform: uppercase;
}
